@model IEnumerable<UniversitySystem.Models.Faculties.FacultyModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="my-heading">List of Faculties</h1>

<p class="my-p">
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="my-tr">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
